.main-body {
    display: inline-block;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    margin:0px;padding:0px;overflow:hidden;
}

.museum-img {
    width: 100%;
    height: 950px;
    pointer-events: none;
}

.scroll-container,
.scroll-area {
    width: 90%;
    height: 950px;
    font-size: 60px;
    margin: 0 auto;
    -ms-overflow-style: none;
}

.scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    margin-top: 100px;
}

.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    scroll-snap-align: start;
}

.scroll-container::-webkit-scrollbar{
    display:none;
}

.scroll-area:nth-of-type(1) {
    margin-bottom: 50px;
}

.scroll-area:nth-of-type(2) {
    text-align: left;
    color: black;
    margin: 0 auto;
}

.scroll-area:nth-of-type(3) {
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 16px;
}

.text-center {
    width: 100%;
    background-color: #f1f1f1;
}

.column-div {
    display: flex;
    text-align: left;
    color: black;
    flex-direction: column;
    width: 50%;
    height: 95%;
    justify-content: left;
    margin-top: 10%;
}

.content{
    outline: 2px dashed #555;
    outline-offset:-10px;  
    text-align: center;
    justify-content: center;
    transition: all .15s ease-in-out;
    width: 80%;
    height: 350px;
    background-color: white;
}

.drag-drop-msg {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    justify-content: center;
}

.convert-button {
    width: 80%;
    text-align: center;
    justify-content: center;
    vertical-align: center;
    display: flex;
}

.convert {
    font-weight: bold;
    font-size: 16px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.img-result {
    width: 80%;
    height: 350px;
    border-radius: 1.5%;
    pointer-events: none;
}

.upload-title {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.category, .title, .description, .start-price, .bid-end-date {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    display: flex;
    margin-top: 3%;
    margin-bottom: 1%;
}

.category-box {
    width: 50%;
    height: 5%;
    font-size: 15px;
    font-weight: bold;
}

.title-input {
    width: 80%;
    height: 3%;
    font-size: 15px;
    font-weight: bold;
}

.description-input {
    width: 80%;
    height: 200px;
    font-size: 15px;
    font-weight: bold;
}

.start-price-input {
    width: 80%;
    height: 3%;
    font-size: 15px;
    font-weight: bold;
}

.bid-start-date-input, .bid-end-date-input {
    width: 40%;
    height: 3%;
    font-size: 15px;
    font-weight: bold;
}

.post-image-button {
    width: 80%;
    text-align: center;
    justify-content: center;
    vertical-align: center;
    display: flex;
}

.post-image {
    font-weight: bold;
    font-size: 16px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
    width: 30%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.post-article {
    font-weight: bold;
    font-size: 16px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
    width: 23%;
    margin-top: 3%;
    font-size: 15px;
    font-weight: bold;
}

.upload-bid-title {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-top: 30px;
}