.main-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    min-height: 700px;
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.category-btn {
    font-size: 18px;
    border: none;
    padding-inline: 30px;
    background-color: transparent;
    color: gainsboro;
}

.category-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.7s ease-in-out;
    color: black;
}

.auction-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    align-items: center;
}

/* 경매들 default diaplay:none 설정하고 hover기능 부여해주기 */
.auction {
    margin-top: 40px;
    flex: 1 4;
    display: None;
    position: relative;
    max-width: 300px;
    min-width: 200px;
    width: 80%;
    height: 300px;
}

.image {
    margin: auto;
    display: block;
    max-width: 300px;
    min-width: 200px;
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}

.overlay {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 300px;
    min-width: 200px;
    width: 80%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.auction:hover .overlay {
    opacity: 0.75;
}

.text {
    color: white;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.auction-type {
    display: flex;
    justify-content: center;
    font-size: 23px;
    color: .333;
    margin-top: 50px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}

.load-more-btn {
    border: solid 1.5px gainsboro;
    background-color: white;
    color: dimgray;
    display: none;
    height: 55px;
    width: 150px;
    margin-top: 23px;
}

button {
    margin: 10px;
}

/* 처음 페이지 로딩할때는 각 경매타입마다 4개만 보여주기 */
.closing-auction:nth-child(-n+4) {
    display: block
}

.hot-auction:nth-child(-n+4) {
    display: block
}

.nobid-auction:nth-child(-n+4) {
    display: block
}

.time-remaining {
    font-size: 16px;
    color: red;
}